body {
  width: 400px;
  margin: 50px auto;
}

header {
  height: 50px;
  padding: 0 10px;
  background: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

main {
  height: 500px;
  overflow: auto;
  padding: 20px;
  text-align: justify;
  border-left: 5px solid dodgerblue;
  border-right: 5px solid dodgerblue;
}

.content {
  display: none;
}

footer {
  background: dodgerblue;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

i {
  cursor: pointer;
}

.show {
  display: block;
}

.highlight {
  background: darkblue;
}
